.profile-page {

}

.list-container {
    width: 90%;
    border: 1px solid black;
    border-radius: 8px;
    margin: auto;
    background-color: orange;
}

.list {
    padding-inline-start: 0;
}

.list-item {
    background-color: white;
    justify-content: center;
    margin: auto auto 3px auto;
    padding: 0.6em;
    width: 30%;
    list-style-type: none;
    border: .5px solid black;
    border-radius: 30px;
}

.btn {
    height: 2rem;
    width: 30%;
    font-size: large;
    text-align: center;
    border: 0;
    border-radius: 30px;
    background-color: blue;
}

.logout-btn {
    margin-top: 2rem;
    height: 2rem;
    width: 15%;
    font-size: large;
    text-align: center;
    border: 0;
    border-radius: 30px;
    background-color: red;
}