.container{
    justify-content: center;
}

input {
    /* Tell the input to use all the available space */
    flex-grow:2;
    /* And hide the input's outline, so the form looks like the outline */
    border:none;

}

input:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
}

button {
    /* Just a little styling to make it pretty */
    border:1px solid blue;
    background:blue;
    color:white;
    width: 10%;
}

.form {
    left: 15%;
    width: 100%;
    height: 35vh;
    border: 1px solid grey;
    background-color: orange;
}

.search {
    height: 3rem;
    width: 80%;
    margin: 1.5em auto;
    font-size: large;
    text-align: center;
    border: 1px solid grey;
    border-radius: 30px;
}
.search-button {
    margin-left: -15%;
    height: 25%;
    width: 15%;
    font-size: large;
    text-align: center;
    border-radius: 30px;
    background-color: purple;
}