.navbar {
    position: sticky;
    top: 0;
    background-color: #ffbb41;
    border-bottom: 1px solid grey;
    padding: 1em;
    z-index: 30;
}
.navbar-list {
    list-style-type: none;
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.title {
    color: white;
    text-align: center;
    padding: 10px 16px;
    font-size: 1em;
}
.navbar-link{
    color: white;
    text-decoration: none;
}
.profile {
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 1em;
}
.logo{
    height: 50px;
    width: auto;
    margin: auto;
}