.login {
    display: grid;
    min-height: 100vh;
}
.login-top{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background-color: orange;
}
.icon {
    width: 40%;
    margin: auto 1rem;
    justify-content: center;
}
.welcome-message {
    width: 60%;
    margin: auto 1rem;
    color: white;
    text-align: left;
}
.login-bottom{
    display: block;
    width: 100%;
    height: 50vh;
    background-color: #61dafb;
}
.enter-name{
    height: 3rem;
    width: 80%;
    margin: 1.5em auto;
    font-size: large;
    text-align: center;
    border: 1px solid grey;
    border-radius: 30px;
}
.picture {
    height: 200px;
    width: auto;
    margin: 3rem;
}
.enter-button {
    margin-left: -15%;
    height: 40%;
    width: 15%;
    font-size: large;
    text-align: center;
    border-radius: 30px;
    background-color: purple;
}

.overlay {
    position: absolute;
    top: 55vh;
    left: 15%;
    width: 70%;
    height: 20%;
    z-index: 10;
    border: 1px solid grey;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 15px purple;
}

.signs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #61dafb;
}